:root {
  --one: #000022;
  --two: #ffffff;
  --three: #d4a6ff;
}
body {
  background-color: var(--one);
  color: var(--two);
  padding: 0;
  margin: 0;
  width: 99.9vw;
  font-family: Arial, monospace;
  position: relative;
}
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  top: 0px;
}
.header .logo {
  font-family: monospace;
  font-weight: 900;
  color: rgb(155, 155, 255);
  font-size: 1.5rem;
  background-color: var(--one);
  border-radius: 10px;
  padding: 6px;
}
.header .menu {
  display: flex;
  gap: 1.5rem;
}
.menu li {
  list-style: none;
  transition: transform 0.5s ease-out;
  transform-origin: left;
  font-weight: 600;
  padding: 0.4rem;
  border: 1px solid var(--one);
  border-radius: 10px;
}
.menu li:hover {
  transform: scale(1.1);
  color: var(--three);
  background-color: var(--one);
  border-radius: 10px;
  border: 1px solid var(--three);
}
.home {
  border-bottom: 2px solid white;
  font-size: 4.5rem;
  font-family: monospace;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  margin: 2rem;
}
.home .hi {
  color: var(--three);
  font-size: 1.7rem;
  padding-bottom: 1rem;
  font-weight: 100;
}
.home .name {
  transition: transform 0.5s ease-in;
  transform-origin: left;
}
.home .name:hover {
  transform: scale(1.1);
}
.home .like {
  color: rgb(164, 164, 164);
}
.about {
  border-bottom: 2px solid white;
  margin: 2rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.title {
  color: var(--three);
  font-weight: 600;
  font-family: monospace;
  font-size: 1.7rem;
  padding: 0rem 2.5rem;
  transition: transform 0.5s ease-out;
  transform-origin: left;
}
.title:hover {
  transform: scale(1.1);
}
.aboutContent {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.aboutText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.4rem;
  padding: 0rem 2.5rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande";
}
.knowledge {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
}
.knowledge img,
img {
  height: 6rem;
  transition: transform 0.5s ease-out;
}
.knowledge img:hover,
img:hover {
  transform: scale(1.2);
}
/********************************/
.work {
  border-bottom: 2px solid white;
  margin: 2rem;
  padding: 2rem;
}
.content {
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
}
.project {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 2fr 1fr;
}
.projectImg {
  grid-column: span 7;
  background-color: var(--three);
  border-radius: 10px;
  z-index: 1;
}
.projectImg img {
  width: 100%;
  height: 100%;
  max-height: 300px;
  border-radius: 10px;
}
.projectImg img:hover {
  transform: translate(12px, 12px);
}
.projectContent {
  grid-column: span 3;
  grid-row: span 2;
  font-family: monospace;
  z-index: 2;
  transform: translate(-50px);
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.projectTitle {
  color: var(--three);
  font-size: 1.2rem;
  text-align: center;
  font-weight: 900;
}
.desc {
  font-size: 1.4rem;
  padding: 1rem;
  background-color: rgb(17, 17, 71);
  border-radius: 8px;
}
.tech {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  color: rgb(121, 121, 255);
}
.tech div {
  background-color: var(--one);
  border-radius: 5px;
  padding: 5px;
}
/*******************************/
.contact {
  margin: 2rem;
  padding: 2rem;
}
.contactInfo {
  padding: 2.5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
  font-size: 1.5rem;
  font-family: monospace;
  flex-wrap: wrap;
}
.info {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  gap: 1rem;
}
.info img {
  height: 3rem;
}
.git {
  display: flex;
  align-items: center;
  gap: 1rem;
}
@media (max-width: 1024px) {
  .home,
  .about,
  .work,
  .contact {
    margin: 0;
  }
  .home {
    font-size: 3.5rem;
  }
  .aboutContent {
    grid-template-columns: 1fr;
  }
  .content {
    padding: 0;
    gap: 2rem;
  }
  .project {
    grid-template-columns: 1fr;
    grid-template-rows: 2fr;
  }
  .projectImg {
    grid-column: span 1;
  }
  .projectContent {
    padding-top: 0;
    transform: translate(0px, 0px);
    grid-column: span 1;
    gap: 5px;
  }
  .info {
    font-size: 1rem;
  }
}
